<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A cool thing made with Glitch">

    <title>Today's Art</title>

    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://use.typekit.net/zfp7gww.css">
    
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <!-- import the webpage's client-side javascript file -->
    <script type="module" src="/script.js" defer></script>
  </head>
  <body>
    <container>
      <img class="artwork_background">
      <div class="artwork">
      
      <img class="artwork_image">
      <h2 class="artwork_title">
        
      </h2>
      <p class="artwork_artist">
        
      </p>
        <p class="artistBio">
          
        </p>
      
      <p class="artwork_description">
        
      </p>
    </div>
    </container>
    


    
  </body>
</html>
